.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
  height: 70px;
  width: 100%;
}

.nav-bar a {
  text-decoration: none;
  margin-left: 15px;
  padding-right: 10px;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: arial, sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 50px;
  font-weight: normal;
  margin-top: 5px;
  color: white;
  font-family: 'Times New Roman', Times, serif
}

footer {
  color: white;
  font-size: 8px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 25%;
  padding-right: 10px;
  position: absolute;
  right: 0;
}